<h1>ログイン</h1>
<%= form_with model: @user, url: sessions_path do |f| %>
  <div class="field">
    <%= f.label "ユーザ名" %>
    <%= f.text_field :display_name, class: "form-text" %>
  </div>
  <div class="field">
    <%= f.label "パスワード" %>
    <%= f.password_field :password, class: "form-text" %>
	</div>
	<%= f.submit "Log in" %>
<% end %>
<p>アカウント登録は <%= link_to "こちら", new_user_path %></p>
