<h1>プレゼンテーション登録</h1><br>
<br>
<div class="regist_form">
  <%= form_with model: @presentation, :url => {:action => :create} do |f| %>
  <h2>イベント名 : <%= @event_name %></h2>
    <div class="form-group">
    	<%= f.label "プレゼンテーション名" %>
    	<%= f.text_field :presentation_name, class: "form-text" %>
    </div>
    <div class="form-group">
    	<%= f.label "詳細" %>
    	<%= f.text_area :description, class: "form-text" %>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
