<h1>プレゼンテーション登録</h1><br>
<br>
<div class="form-div">
  <%= form_with model: @presentation, :url event_presentation_path do |f| %>
  <h2>イベント名 : <%= @event_name %></h2>
    <div class="form-group">
    	<%= f.label "プレゼンテーション名" %>
    	<%= f.text_field :presentation_name, class: "form-text" %>
    </div>
    <div class="form-group">
    	<%= f.label "概要(任意)" %>
    	<%= f.text_area :description, class: "form-text" %>
    </div>
    <div class="form-group">
        <%= f.label "リンク" %>
        <%= f.text_area :link_url, class: "form-text" %>
    </div>
    <%= f.submit "Create" %>
  <% end %>
</div>
