<h1>イベント一覧</h1>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>イベント名</th>
      <th>開催日時</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @events.each do |e| %>
  <tr>
    <td><%= link_to e.event_name, event_path(e.event_name) %></td>
    <td><%= e.event_datetime.strftime("%Y-%m-%d %H:%M")  %></td>
    <td><%= link_to "プレゼン登録", new_event_presentation_path(e.event_name) %></td>
    <td><%= link_to "削除", event_path(e.event_name), method: :delete, data: { confirm: 'Delete OK?' } %></td>
    <td><%= link_to "編集", edit_event_path(e.event_name) %></td>
  </tr>
<% end %>
</table>
<p>イベントの登録はこちら</p>
<%= link_to "イベント登録", new_event_path, class: "btn btn-info" %>

