<h1>イベント登録</h1>
<p>イベント情報を入力してください。</p>
<div class="form-div">
  <%= form_with model: @event, url: events_path  do |f| %>
    <div class="form-group">
    	<%= f.text_field :event_name %>
      <%= f.label "イベント名" %>
    </div>
    <div class="form-group">
    	<%= f.label "開催日時" %>
    	<%= f.datetime_select :event_datetime, 
          { :minute_step => 15,
            :use_month_numbers => true} %>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
